.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    ". title title title title ."
    ". main_content main_content main_content main_content ."
    ". ph1 cap1 ph3 cap3 ."
    ". cap6 ph6 cap8 ph8 ."
    ". ph9 cap9 ph10 cap10 .";
}

.navbar { grid-area: navbar; }

.ph1 { grid-area: ph1; }

.ph3 { grid-area: ph3; }

.ph6 { grid-area: ph6; }

.ph8 { grid-area: ph8; }

.cap1 { grid-area: cap1; }

.cap3 { grid-area: cap3; }

.cap6 { grid-area: cap6; }

.cap8 { grid-area: cap8; }

.ph9 { grid-area: ph9; }

.ph10 { grid-area: ph10; }

.cap9 { grid-area: cap9; }

.cap10 { grid-area: cap10; }

.main_content { grid-area: main_content; }

.title { grid-area: title; }
