.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar"
    ". title title title title ."
    ". main_content main_content main_content main_content ."
    ". ph1 cap1 ph3 cap3 ."
    ". cap6 ph6 cap8 ph8 ."
    ". ph9 cap9 ph10 cap10 .";
}

#home_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 3ch;
  color: aquamarine;
  text-decoration: none;
}

.navbar {
  border: 20px solid pink;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  height: 10%;
  padding: 20px;
  background-color: #132743;
  margin: 0px;
}

.navbar a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  color: greenyellow;
}

.ph1 {
  grid-area: ph1;
  border: 20px solid black;
  display: flex;
}

.ph3 {
  grid-area: ph3;
  border: 20px solid black;
}

.ph6 {
  grid-area: ph6;
  border: 20px solid black;
}

.ph8 {
  grid-area: ph8;
  border: 20px solid black;
}

.cap1 {
  grid-area: cap1;
  border: 20px solid black;
}

.cap3 {
  grid-area: cap3;
  border: 20px solid black;
}

.cap6 {
  grid-area: cap6;
  border: 20px solid black;
}

.cap8 {
  grid-area: cap8;
  border: 20px solid black;
}

.ph9 {
  grid-area: ph9;
  border: 20px solid black;
}

.ph10 {
  grid-area: ph10;
  border: 20px solid black;
}

.cap9 {
  grid-area: cap9;
  border: 20px solid black;
}

.cap10 {
  grid-area: cap10;
  border: 20px solid black;
}

.main_content {
  grid-area: main_content;
  border: 20px solid red;
  font-size: 100px;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid purple;
  color: white;
  font-size: 300px;
  background-color: blueviolet;
}

.ph1 img,
.ph3 img,
.ph6 img,
.ph8 img,
.ph9 img,
.ph10 img {
  width: auto;
  height: 50%;
}

.cap1 h3,
.cap3 h3,
.cap6 h3,
.cap8 h3,
.cap9 h3,
.cap10 h3 {
  font-size: 200px;
  font-weight: 900;
}

.cap1 p,
.cap3 p,
.cap6 p,
.cap8 p,
.cap9 p,
.cap610 p {
  font-size: 100px;
}
