body,
html {
  height: 100%;
  margin: 0px;
}
body {
  background-color: cadetblue;
}

h1,
h2,
h3,
h4 {
  color: navy;
}

a {
  color: #1e5792;
}
nav li {
  display: inline;
  margin: 20px;
}
nav ul {
  background-color: #132743;
  margin: 0px;
  list-style: none;
}
nav a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: greenyellow;
}
nav {
  display: block;
  color: white;
  width: 100%;
  padding: 20px;
}

#home_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 3ch;
  color: aquamarine;
  text-decoration: none;
}

.central-image {
  background-image: url(../images/sierra-foothills-wildflowers.jpg);
  height: 40%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.central-name {
  color: navy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 50px;
  background-color: cadetblue;
  border: 30px solid cadetblue;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-article {
  float: left;
  height: 100%;
  width: 60%;
  padding: 10px;
  margin: 20px;
  background-color: bisque;
  border-radius: 5px;
}

.next-article {
  float: left;
  height: 100%;
  width: 60%;
  padding: 10px;
  margin: 20px;
  background-color: bisque;
  border-radius: 5px;
}

.main-article h1, .main-article
h3, .next-article h1, .next-article h3 {
  margin: 0.2em;
}

.main-article p {
  margin: 0.8em;
}

.art-text {
  color:brown;
}

.sidebar {
  float: right;
  height: 100%;
  width: 30%;
  background-color: antiquewhite;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
}

.side-article {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.side-article h1 {
  margin: 0px;
}

.side-article h4 {
  margin-top: 2px;
}

.side-article p {
  margin-top: -20px;
}

.side-article ul {
  list-style-type: none;
  padding: 5px;
}

#profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 50%;
  border-color: black;
  padding-top: 15px;
}

#profile-details {
  text-align: center;
}

textarea,
input {
  margin-top: 0px;
  width: 95%;
  background-color: blanchedalmond;
}

textarea {
  height: 100px;
}

.foot {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}
#foot {
  width: 100%;
}

.fa {
  padding: 15px;
  text-align: center;
  margin: 2px 1px;
  font-size: 30px;
  width: 20px;
}

.fa-inbox {
  background: #dd4b39;
  color: white;
}

.fa-github {
  background: lightgray;
  color: black;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-podcast {
  background: linear-gradient(180deg, #fb83fa, 21%, #e93cec);
  color: white;
}
